<div>
    <form name="belmetadata_form" ng-controller="belMetadataFormController" ng-submit="submitForm()" novalidate>

        <!-- BEL Evidence Metadata -->
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="form-group">
                    <fieldset>
                        <legend>BEL Evidence Metadata</legend>

                        <div class="col-xs-12">
                            <label for="">BEL Evidence Source</label>
                            <input id="source" type="text" class="form-control" ng-model="belm.source" />
                        </div>
                        <div class="col-xs-9">
                            <label for="">Author</label>
                            <input type="text" class="form-control" ng-model="belm.author" />
                        </div>
                        <!-- /.col-xs-3 -->
                        <div class="col-xs-3">
                            <label for="">Date Created</label>
                            <input class="form-control" type="date" ng-model="belm.date_created" />
                        </div>
                        <div class="col-xs-9">
                            <label for="">Reviewer</label>
                            <input type="text" class="form-control" ng-model="belm.reviewer" />
                        </div>
                        <!-- /.col-xs-3 -->
                        <div class="col-xs-3">
                            <label for="">Date Reviewed</label>
                            <input class="form-control" type="date" ng-model="belm.date_reviewed" />
                        </div>
                    </fieldset>

                </div>
                <!-- /.form-group -->
            </div>
        </div>

    </form>
</div>
