<div id="bel-metadata" class="bottom30" data-ng-controller="belMetadataFormController">
    <div class="col-sm-12">
        <h3>BEL Evidence Metadata</h3>
    </div>

    <!-- .col-sm12 -->
    <div class="col-sm-3">
        <div class="form-group">
            <label for="">Review Status</label>
            <select class="form-control" id="reviews" data-ng-model="reviewStatus" data-ng-options="review as review.label for review in reviewStatusSets" data-ng-change="changeReviewStatus()">
            </select>
        </div>
        <!-- .form-group -->
    </div>
    <!-- .col-sm-3 -->
    <div class="col-sm-6">
        <div class="form-group">
            <label for="">Author</label>
            <input type="text" class="form-control" data-ng-model="author" data-ng-change="changeAuthor()" />
        </div>
        <!-- .form-group -->
    </div>
    <!-- .col-sm-6 -->
    <div class="col-sm-3">
        <div class="form-group">
            <label for="">Date Created</label>
            <input class="form-control" type="date" data-ng-model="createdDate" data-ng-change="changeCreatedDate()" />
        </div>
        <!-- .form-group -->
    </div>
    <!-- .col-sm-3 -->

    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label for="">Reviewer</label>
            <input type="text" class="form-control" data-ng-model="reviewer" data-ng-change="changeReviewer()" />
        </div>
        <!-- .form-group -->
    </div>
    <!-- .col-sm-6.col-sm-offset-3 -->

    <div class="col-sm-3">
        <div class="form-group">
            <label for="">Date Reviewed</label>
            <input class="form-control" type="date" data-ng-model="reviewedDate" data-ng-change="changeReviewedDate()" />
        </div>
        <!-- .form-group -->
    </div>
    <!-- .col-sm-3 -->

    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label for="">BEL Evidence Source</label>
            <input id="source" type="text" class="form-control" data-ng-model="belEvidenceSource" data-ng-change="changeBelEvidenceSource()" />
        </div>
        <!-- .form-group -->
    </div>
    <!-- .col-sm-6.col-sm-offset-3 -->
    
</div>
<!-- #bel-metadata -->
