<div id="bel-citation" data-ng-controller="belCitationFormController">
    <div class="col-sm-12">
        <h3>Citation</h3>
    </div>
    <!-- .col-sm-12 -->
    <div class="col-sm-2">
        <div class="form-group">
            <label for="citation_type">Citation Type</label>
            <select class="form-control" id="citation_type" data-ng-model="citationType" data-ng-options="citationType as citationType.label for citationType in citationTypeList" data-ng-change="changeCitationType()" data-ng-required="true">
            </select>
        </div>
        <!-- .form-group -->
    </div>
    <!-- .col-sm-2 -->
    <div class="col-sm-8">
        <div class="form-group">
            <label for="citation_name">Name</label>
            <input type="text" class="form-control" id="citation_ref" placeholder="Citation Name" data-ng-model="citationName" data-ng-change="changeCitationName()" data-ng-disabled="selectPubMed" data-ng-required="true">
        </div>
        <!-- .form-group -->
    </div>
    <!-- .col-sm-8 -->
    <div class="col-sm-2">
        <div class="form-group">
            <label for="citation_ref">PubDate</label>
            <input type="date" class="form-control" id="citation_pubdate" data-ng-model="citationPublishDate" placeholder="mm/dd/yyyy" data-ng-change="changeCitationPublishDate()" data-ng-disabled="selectPubMed">
        </div>
        <!-- .form-group -->
    </div>
    <!-- col-sm-2 -->
    <div class="col-sm-12">
        <div class="form-group">
            <label for="citation_ref">Reference</label>
            <input type="text" class="form-control" id="citation_ref" placeholder="Citation Reference" data-ng-model="citationRef" data-ng-change="changeCitationRef()" data-ng-required="true">
        </div>
        <!-- .form-group -->
    </div>
    <!-- .col-sm-12 -->
    <div class="col-sm-12">
        <div class="form-group">
            <label for="citation_ref">Authors</label>
            <input type="text" class="form-control" id="citation_authors" data-ng-model="citationAuthors" placeholder="separate authors with a semicolon ';'" data-ng-change="changeCitationAuthors()" data-ng-disabled="selectPubMed">
        </div>
        <!-- .form-group -->
    </div>
    <!-- .col-sm-12 -->
    <div class="col-sm-12">
        <div class="form-group">
            <label for="citation_ref">Comments</label>
            <input type="text" class="form-control" id="citation_comments" data-ng-model="citationComments" data-ng-change="changeCitationComments()">
        </div>
        <!-- .form-group -->
    </div>
    <!-- .col-sm-12 -->
</div>
<!-- #bel-citation -->
