<div>
    <form name="belstatement_form" ng-controller="belStatementFormController" ng-submit="submitForm()" novalidate>

        <div class="row bottom30">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="form-group">
                    <fieldset>
                        <div class="col-xs-3">
                            <legend>BEL Statement
                            </legend>
                        </div>
                        <div class="col-xs-2 col-xs-offset-7">
                            <select class="form-control pull-right" id="status" ng-model="bels.status" ng-options="status as status.label for status in statuses" ng-init="bels.status = bels.status || options[0].value">
                            </select>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-5">
                                <label class="sr-only" for="belsource">BEL Source</label>
                                <input type="text" class="form-control" id="belsource" placeholder="Source" ng-model="bels.belsource">
                            </div>
                            <div class="col-xs-2">
                                <label class="sr-only" for="belrelation">BEL Relation</label>
                                <!--                             <select class="form-control" id="belrelation" ng-model="belrelation" ng-options="relation as relation.label for relation in relations">
                            </select> -->
                                <input type="text" class="form-control" id="belrelation" placeholder="Relationship" ng-model="belrelation">
                            </div>
                            <div class="col-xs-5">
                                <label class="sr-only" for="beltarget">BEL Target</label>
                                <input type="text" class="form-control" id="beltarget" placeholder="Target" ng-model="beltarget">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

    <!-- Collapsible entity search and template selection -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <a href="" class="btn btn-primary" data-toggle="collapse" data-target="#entity_search_collapse" aria-expanded="false" aria-controls="entity_search_collapse">Advanced BEL Entity Search and Template Selection</a>
            <div class="collapse" id="entity_search_collapse">
                <div class="well panel panel-primary" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="" aria-controls="home" role="tab" data-toggle="tab" data-target="#entity_search_pane">Entity Search</a></li>
                        <li role="presentation"><a href="" aria-controls="home" role="tab" data-toggle="tab" data-target="#bel_template_pane">Templates</a></li>
                    </ul><!-- /.nav nav-tabs -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="entity_search_pane">
                            <h2>Entity Search</h2>


                        </div><!-- /.tab-pane -->
                        <div role="tabpanel" class="tab-pane fade" id="bel_template_pane">
                            <h2>BEL Template</h2>


                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div><!-- /.collapse -->
        </div><!-- /.col-xs-10 col-xs-offset-1 -->
    </div><!-- /.row -->


    </form>
</div>
