<!-- BEL Statement -->
<div ng-include src=" 'views/bel-statement.html"></div>

<!-- BEL Citation -->
<div ng-include src=" 'views/bel-citation.html"></div>

<!-- BEL Annotations -->
<div ng-include src=" 'views/bel-annotations.html"></div>

<!-- BEL Statement Metadata -->
<div ng-include src=" 'views/bel-metadata.html"></div>

<div class="row">
    <div class="col-xs-3 col-xs-offset-1">
        <input type="submit" class="btn btn-success form-control" />
    </div>
    <div class="col-xs-offset-4 col-xs-3">
        <input type="reset" class="btn btn-danger form-control pull-right" />

        <!-- /.col-xs-12 -->
    </div>
    <div class="col-xs-1"></div>
    <!-- /.col-xs-1 -->

</div>
