<div class="row bottom10">
    <div class="col-xs-8 col-xs-offset-2">
        <form ng-submit="search()">
            <div class="input-group">
                <input type="text" id="searchquery" class="form-control" placeholder="Search for..." ng-model="searchQuery">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
                </br>
            </div>
            <!--
<div>
                <div class="checkbox pull-right">
                    <label>
                        <input type="checkbox"> Synonymize
                    </label>
                    <label>
                        <input type="checkbox"> Orthologize
                    </label>
                </div>

            </div>
            -->
        </form>
    </div>
</div>


<div class="row">
    <div class="col-xs-2 panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Status</h4>
            </div>
            <div class="panel-body">
                Status facets
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Species</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">140</span> Human
                    </li>
                    <li class="list-group-item">
                        <span class="badge">80</span> Mouse
                    </li>
                    <li class="list-group-item">
                        <span class="badge">30</span> Rat
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                Date range facet
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="">
            <h2>Results</h2>
        </div>
    </div>
    <div class="col-xs-2">
       <!--
             <button type="button" class="btn btn-primary bottom10">Export</button>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Columns</h4>
            </div>
            <div class="panel-body">
                <div class="checkbox">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox">PubmedID</label>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox">Species</label>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox">Creator</label>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox">Col3</label>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox">Col4</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       -->
    </div>
</div>
