<div class="panel panel-primary">
    <h3>{{myFacetTitle}}</h3>
    <ul class="nav nav-list">
        <li ng-repeat="item in myFacetData">
            {{item.name}} ({{item.count}})
        </li>

    </ul>
</div>

            <!-- <ul class="nav nav-list" eui-aggregation="ejs.TermsAggregation(agg_name).field(field).size(size)">\
                <li ng-repeat="bucket in aggResult.buckets">\
                    <label eui-filter="ejs.TermsFilter(field, bucket.key)">\
                        <span ng-if="!filter.enabled"><a href="" ng-click="filter.enabled=true">{{bucket.key}} <span class="muted">({{bucket.doc_count}})</span></a></span>\
                        <span ng-if="filter.enabled">{{bucket.key}} <a href="" ng-click="filter.enabled=false" class="facet-remove">x</a></span>\
                    </label>\
                </li>\
            </ul>'
 -->
